.ProjectCard {
	display: flex;
	flex-direction: row;
	color: white;
	width: 900px;
	background-color: rgba(50, 49, 102, 0.3);
	border-radius: 20px;
	margin-bottom: 25px;
	height: 350px;
	overflow: hidden;

	@media only screen and (max-width: 1000px) {
		width: calc(100% - 50px);
	}

	.projectPhoto {
		width: 35%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: rgba(50, 49, 102, 0.3);
		background-blend-mode: multiply;
		transition: background-color 0.3s;

		&:hover {
			background-color: transparent;
			transition: background-color 0.3s;
		}
	}

	.projectDescription {
		width: 60%;
		position: relative;
		top: 5px;
		margin-left: 30px;
		justify-content: space-between;
		flex-direction: column;
		display: flex;

		p {
			font-size: 20px;
		}

		.skillsAndLinks {
			margin-bottom: 30px;

			.skills {
				display: inline-block;
				// flex-direction: row;
				margin-top: 10px;
				line-height: 2.3;
				span {
					color: white;
					background-color: #323166;
					margin-right: 5px;
					border-radius: 10px;
					border: 1px solid white;
					padding: 4px;
					line-height: 4px;
				}
			}

			.links {
				a {
					text-decoration: none;
					span {
						color: white;
						background-color: #4C2376;
						margin-right: 5px;
						border-radius: 10px;
						border: 1px solid white;
						padding: 6px;
						line-height: 4px;
					}

					svg {
						position: relative;
						top: 0.45em;
						margin-left: 2px;
					}
				}
			}
		}
	}
}
