.ProjectCard {
	display: flex;
	flex-direction: row;
	color: white;
	align-items: center;
	width: 900px;
	background-color: rgba(50, 49, 102, 0.3);
	border-radius: 20px;
	margin-bottom: 25px;
	height: 350px;
	overflow: hidden;

	@media only screen and (max-width: 1000px) {
		width: calc(100% - 50px);
	}

	.projectPhoto {
		width: 33%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-color: rgba(50, 49, 102, 0.3);
		background-blend-mode: multiply;
		transition: background-color 0.3s;

		&:hover {
			background-color: transparent;
			transition: background-color 0.3s;
		}
	}
}
